Create two lists and join them

In [1]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

 Find even numbers with an if statement

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_numbers = []
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
print(even_numbers)

[2, 4, 6, 8]

Create a dictionary

In [3]:
my_dict = {
    'key1': ['value1', 'value2'],
    'key2': ['value3', 'value4'],
    'key3': ['value5', 'value6']
}

Create a function to find odd numbers with an if statement

In [4]:
def find_odd_numbers(numbers):
    odd_numbers = []
    for number in numbers:
        if number % 2 != 0:
            odd_numbers.append(number)
    return odd_numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = find_odd_numbers(numbers)
print(odd_numbers)

[1, 3, 5, 7, 9]

Create a function to sum all numbers in a list

In [5]:
def sum_numbers(numbers):
    total = sum(numbers)
    return total

sample_list = [8, 2, 3, 0, 7]
result = sum_numbers(sample_list)
print(result)

20